.hero {
  height: 80vh;
  background: linear-gradient(to right, #000000, #8b0000);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.hero-content p {
  font-size: 20px;
  margin-bottom: 25px;
}

.book-btn {
  padding: 12px 25px;
  background: gold;
  color: black;
  text-decoration: none;
  font-weight: bold;
  border-radius: 6px;
}